

body {
  background-color: var(--main-bg);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: auto;
  margin-top: 80px ;
}


@media (max-width: 600px) {

  header .header-container * {
    display: none;
    position: sticky;
    top: 0;
  }

  header .burguer {
    display: block;
  }

  header .sidebar {
    display: block;
  }

}
button{
  cursor: pointer;
}


header {
  display:flex;
  font-family: none, serif;
  justify-content: space-between;
  background-color: var(--menu-main-bg);
  position: fixed;
  top: 8px;
  height: 72px;
  width: 100%;
  h1{
    padding: 0 16px;
    font-size: clamp(1rem, 1.8rem, 2rem);
    font-weight: bolder;
    background: linear-gradient(to bottom, var(--main-highlight-light), var(--main-highlight-base));
    color:transparent;
    background-clip: text;
  }
  transition: transform 0.3s ease;
  z-index: 1000;
}


.burguer{
  display:none;
}
.sidebar{
  display:none;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: -1vh;

  width: 60vw;
  height: 100vh;
  transform: translateX(65vw);
  transition: transform 0.6s ease, opacity 0.4s ease;
  opacity: 0;
  background-color: var(--menu-main-bg);
}
.sidebar.show{
  opacity: 1;
  transform: translateX(5vw);
}


.sidebar-content{
  display:flex;
  flex-direction: column;
  gap: 32px;
  flex: 1;
  hr {
    width: 100%;
  }
  button{
    flex:1;
    margin: 0;
  }
}

header.hidden {
  transform: translateY(-100%);
}

.header-container{
  display: flex;
  flex: 0.8;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  margin: 8px;
  gap: 8px;

}
.header-bot {
  flex: 1;
  border: none;

  background-color: transparent;
  border-radius: 2rem;
  font-size: 1.3rem;
  color: var(--main-highlight-soft);
  a {
    color: var(--main-highlight-soft);
    text-decoration: none;
  }
  transition: background-color 0.4s ease-in-out,color 0.4s ease-in-out;
}
.header-bot:hover{
  background-color: var(--menu-highlight);
  color: var(--main-highlight-action);
}
.burguer-exit{
  width: 16vw;
  font-size: 2rem;
  border-radius: 0;
  padding: 16px;
}

.column-container {
  display: flex;
  flex-direction: column;
}
.row-container {
  display: flex;
  flex-direction: row;
}

.main-container{
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  padding: 40px;
  justify-content: space-between;
  align-items: center;
  gap:24px
}
footer{
  background-color: var(--menu-pretty-dark-bg);
  display: flex;
  margin: 2vh 0;
  color: white;
  padding: 1vh 2vw;
}

.landing-text-container{
  display: flex;
  flex:1;
  flex-direction: column;
  background-color: var(--second-menu-color);
  box-shadow: var(--shadow-box-type-medium);
  padding: 0 20px ;

  border-radius: 2rem;
  align-items: center;
  h1 {
    color: white;
    text-align: left;
    font-family: none, serif;
    font-size: clamp(1.4rem, 3.5vw, 3rem);
  }
  p {
    color: #c2c2c2;
    font-size: clamp(0.8rem,2.5vw,1.4rem);
    width:100%;
    justify-content: left;
    line-height: 2rem;
  }
}

.landing-text-bot-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: fit-content;
  justify-content: space-between;
  gap: 16px;
  padding: 16px 0;
}
.shopping-container{
  background-color: var(--menu-dark-bg);
  display: flex;
  flex-direction: column;

  h1 {
    text-align: center;
    font-family: none, serif;
    color: var(--main-highlight-light);
    font-size: 2.4rem;
  }
}
.itens-container{
  display: flex;
  flex:1;
  padding: 32px;
  justify-content: space-between;
  gap:40px;
  flex-wrap: wrap;
}

.item-card{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  padding: 24px;
  min-width: 15vw;
  cursor: pointer;
  background-color: var(--menu-highlight);
  flex: 1;
  box-shadow: var(--shadow-box-type-medium);
  border-radius: 32px;
  transform: translateY(0px);
  transition: transform 0.6s ease-in-out;
}
.item-card:hover{
  box-shadow: var(--shadow-box-type-dark);
  transform: translateY(-16px);
}
.item-card-image{
  width: 100%;
  background-color: #fddb84;
  border-radius: 2rem;
  height: 25vh;
  align-content: center;
  text-align: center;
  aspect-ratio: 1/1;
}
.item-card-text{
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding: 1vh 0.5vw;
  * {
    margin: 0;
  }
  h2{
    color: var(--main-bg);
    font-size: 1.8rem;
    font-weight: normal;
  }
  p {
    color: var(--third-bg);
    margin-top: 0.6vh;
    font-size: 1rem;
    font-weight: lighter;
  }
  h3 {
    color: var(--main-highlight-action);
    font-size: 1.4rem;
    margin-top: 24px;
    font-weight: normal;
  }

}
.bot-compra{
  flex: 1;
  background-color: var(--main-highlight-button);
  border: 2px solid transparent;
  padding: 16px;
  text-align: center;
  text-overflow: ellipsis;
  border-radius: 20px;
  text-wrap: nowrap;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--menu-pretty-dark-bg);
  box-shadow: var(--shadow-box-type-light);
  transition: box-shadow 0.3s ease-in-out;
}
.bot-compra:hover{
  background: linear-gradient(to bottom,
  var(--main-highlight-base),
  var(--main-highlight-button),
  var(--main-highlight-button)
  );
  box-shadow: var(--shadow-box-type-medium)
}
.bot-carrinho{
  flex: 1;
  background-color: transparent;
  border: 2px solid var(--main-highlight-button);
  padding: 16px 0;
  text-align: center;
  text-overflow: ellipsis;
  border-radius: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--menu-pretty-dark-bg);
  box-shadow: var(--shadow-box-type-light);
  transition: box-shadow 0.6s ease-in-out;
}
.bot-carrinho:hover{

  box-shadow: var(--shadow-box-type-medium)
}
.bot-educacional{
  flex: 1;
  background: transparent;
  padding: 16px;
  border: 2px dashed var(--second-highlight-base);
  text-wrap: nowrap;
  border-radius: 20px;
  font-size: 1.2rem;

  font-weight: bold;
  color: var(--menu-pretty-dark-bg);
}
.header-blog-bot{
  flex: 1;
  background: var(--second-highlight-base);;
  padding: 16px;
  border-radius: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--menu-pretty-dark-bg);
  transition: background-color 0.2s ease-in-out;
}
.header-blog-bot:hover{
  background-color: var(--second-highlight-action);: ;
  color: var(--menu-pretty-dark-bg);
}
.bot-educacional:hover{
  background-color: var(--second-highlight-base);: ;
}

.images-container{
  display: flex;
  flex:1;
  padding: 24px;
  flex-wrap: wrap;
  background-color: white;
  align-items: center;
  justify-content: center;
  gap: 8px;
  min-height: 50vh;
}

.t1{
  flex:0.8;
  height:35vh
}
.t2{
  flex: 1.3;
  height:50vh
}

.image{
  background-color: #555555;
  text-align: center;
  align-content: center;
  font-size: 2rem;
  color: white;
  text-wrap: wrap;
  min-width: 0;
}

.shopping-section{
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.shopping-side-bar{
  flex: 0.2;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  height:78vh;
  background-color: #1c2a1b;
  position: sticky;
  top: 15vh;
  div{
    flex:1;
    background-color: #3b5783;
  }
}

.item-do-menu-de-compra{
  flex:1;
  background-color: #f0f;
}

.shopping-main-page-container{
  display: flex;
  background-color: transparent;
  flex-wrap: wrap;
  gap: 16px;
}
.shopping-main-page-container{
  display: flex;
  background-color: transparent;
  flex-wrap: wrap;
  gap: 16px;
 }
.shopping-main-image{
  background-color: #46564c;
  height: 50vh;
  text-align: center;
  align-content: center;
  font-size: 2rem;
  color: white;
}
.search-container{
  background-color: var(--secondary-bg);
  width: 90%;
  color: black;
  height: 8px;
  border-radius: 32px;
  border: 2px solid black;
  scale:1;
  font-size: 1rem;
  padding: 8px;
  transition: background-color 0.5s ease-in-out;
}
.detail-search-container{
  background-color: var(--secondary-bg);
  width: 70%;
  color: black;
  height: 8px;
  border-radius: 32px;
  border: 2px solid black;
  scale:1;
  font-size: 1.1rem;
  padding: 8px;
  transition: background-color 0.5s ease-in-out;
}
.search-container:hover{
  background-color: var(--main-bg);
  color: black;
  border: 2px solid black;
}

.shop-sidebar{
  background-color: var(--menu-main-bg);
  min-width: 20vw;
  height:82vh;
  position: sticky;
  top: 16vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap:32px;
  color:white;
  overflow-y: auto;
  border-radius: 1rem;
  border: 3px solid var(--menu-highlight);
}
.siide-bar-filter-container{
  display: flex;
  flex-direction: column;
  gap:8px;
  font-size: 1.4rem;
}

.siide-bar-filter-container > details > label{
  color: black;

}

.filter-container{

}
.shopping-page-item-card{
  display: flex;
  flex-direction: column;
  padding: 16px;
  min-width: 20vw;
  background-color: var(--secondary-bg);
  border: 2px solid rgba(95, 147, 87, 0.3);
  flex: 1;
  /*box-shadow: var(--shadow-box-type-medium);*/
  border-radius: 32px;
  transform: translateY(0px);
  transition: box-shadow 0.6s ease-in-out, transform 0.6s ease-in-out;
}
.shopping-page-item-card:hover{
  box-shadow: var(--shadow-box-type-super-light);
  cursor: pointer;
  transform: translateY(-8px);
}
.shopping-page-item-card-image{
  width: 100%;
  background-color: #fddb84;
  border-radius: 2rem;
  height: 25vh;
  align-content: center;
  text-align: center;
  aspect-ratio: 1/1;
}
.shopping-page-item-card-text{
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding: 1vh 0.5vw;
  gap: 8px;
  * {
    margin: 0;
  }
  h2{
    color: #f19b33;
    font-size: 1.5rem;
    font-weight: normal;
  }
  h3 {
    color: #93711a;
    min-font-size: 5vw;
    font-size: 2rem;
    margin-top: 24px;
    font-weight: bolder;
  }
}

.sidebar-search-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    text-align: center;
    color: var(--secondary-bg);
    font-size: 1.7rem;
  }
}

.sidebar-detail{
  color: var(--fourth-bg);
  font-size: 1.2rem;
}
.sidebar-detail:hover{
  color: var(--third-bg);
}
.sidebar-detail:open{
  color: var(--menu-super-high-highlight);
  div {

    font-size: 1.1rem;
    margin: 4px;
    color:var(--main-bg);
  }
  div:hover{
    color: var(--third-bg);
  }
}

input[type="checkbox"]{
  accent-color: var(--main-highlight-base);
}

.main-product-section{
  display: flex;
  margin: 24px;
  justify-content: space-between;
  height: fit-content;
}
.produto-container{
  background-color: transparent;
  width: 100%;
  height: fit-content;
  padding: 16px;
  display: flex;
  gap:16px;
  flex:1;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.super-image-container{
  display: flex;
  height: 55vh;
  width: 50%;
  gap:8px;
  min-width: 400px;
}
.produto-left-side-images{
  background-color: transparent;
  min-width: 70px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 16px;
  overflow-y: scroll;

  scrollbar-width: thin;
  scrollbar-color: grey transparent;
}

.produto-mini-image{
  aspect-ratio: 1/1;
  background-color: #3b5783;
  border-radius: 0.5rem;
  border: 2px solid grey;
  text-align: center;
  align-content: center;
  transition: background-color 0.6s ease-in-out  ;
}
.produto-mini-image:hover{
  background-color: #618cd2;
}
.produto-main-image{
  background-color: #7fb975;
  border-radius: 1rem;

  flex:1;
  text-align: center;
  align-content: center;
}

.produto-info{
  background-color: transparent;
  width:40%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  height: fit-content;
  h2{
    font-size: 1.7rem;
    margin: 0;

  }
  h1{
    font-size: 2.5rem;
    margin: 0;
  }

  p{
    color: #757575;
  }
  a{
    text-decoration: none;
    color: #5d79c4;
  }
  ul{
    margin: 0;
    list-style-type: none;
    padding: 0 8px;
    color: #757575;
  }
}
.produto-buying-container{
  border-radius: 1rem;
  border: 2px solid grey;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
  margin:16px;
  padding: 0 16px;
  text-align: left;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.rating-container{
  color:grey;
  align-items: center;
  display:flex;
  gap:8px;
  width:fit-content;
}
.star-container{
  display: inline-flex;
  gap: 4px;
  background: var(--main-highlight-base) ;
  color:transparent;
  background-clip: text;
  width: 50%;
}
.star{
  aspect-ratio: 1/1;
  font-size: 1.5rem;
  -webkit-text-stroke: 1px #000000;

}
.star::before{
  content: "★";
}


